body {

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(202, 3, 3);
  border: 0.5rem solid rgb(144, 138, 138);
  padding: 40rem;
  margin: 10rem;
  display: flex;
  min-width: 90vw;
}

header {
  background-color: rgb(36, 35, 35);
  border-radius: 0.5rem;
  border-color: whitesmoke;

}

#nav-bar li {
  border: 0.4rem solid rgb(0, 0, 0);
  margin: 1.8rem;

  background-color: rgb(0, 0, 0);
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(255, 255, 255);
  display: inline;
  justify-content: center;
  border-radius: 0.3rem;
}

nav a {
  color: #fcfcfc; /* Default link color */
  text-decoration: none;
}

nav a:visited {
  color: #9e9e9e; /* Visited link color */
}

nav a:hover {
  color: #ff0000; /* Hover link color */
  text-decoration: underline;
}

nav a:active {
  color: #ffffff; /* Active link color */
}

img {
  border-radius: 5rem;
  display: block;
  margin: auto; /* Will move image on page */
  width: 40rem;
  margin-bottom: 10rem;
  border: 20px solid #6b5050;
  box-shadow: 5px 5px 5px 5px rgb(248, 211, 211);

  /* width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 13px;
    display: block; */

}
h1, h2, h3 {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 5rem;
  padding: 20px;
  font-weight: 900;
  font-size: large;
  /* text-shadow: 3px 3px 3px rgb(40, 32, 63); */
}

p {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 3rem;
  padding: 20px;
  font-weight: 700;
  font-size: large;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

ul {
  color: whitesmoke;
  list-style-type: none;
  text-align: center;
  justify-content: center;
  padding: 5rem;
  display: inline;

}
.top {
  display: flex;
  justify-content: center;
}
.search {
  display: flex;
  justify-content: end;
  align-items: center;
  border-radius: 15px;
  color: whitesmoke;
  margin: 5rem;
}
.search-bar {
  border-radius: 5px;
  margin: 1rem;
}
.sides {
  display: flex;
  padding: 10px;

}
.italian {
  border: 1rem 1rem 1rem;
  width: 30rem;
  height: 40rem;
  background-color: rgb(90, 82, 82);
  margin-bottom: 2rem;

}
.aboutStl {
  display: flex;
  color: rgb(0, 0, 0);
  background-image: url("./image/buschStadium.jpg");
  line-height: 2rem;
  border-radius: 0.3rem;
  text-align: center;
  font-weight: 900;
  font-size: x-large;
  border-color: black;
  text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}
.arch {
  visibility: hidden;
}

.barb {
  margin-bottom: 2em;
  width: 70rem;
  height: 100%;

}
.food {
  display: flex;
  justify-content: center;
}
.homePics {
  display: flex;
  padding: 5rem;


}
.cuisine-type {
  margin: 0.2rem;
  padding-top: 10rem;
  color: black;
  font-size: xx-large;
  text-decoration: underline;
  text-shadow: 1px 1px #b8b8b8;;
}
.address {
  color: black;
  text-decoration: underline;
  font-style: normal;
  font-weight: bolder;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.foodSections {
  margin: 6rem 6rem;
}

.window {
  background-color: rgb(19, 18, 17);
  width: 25%;
  margin: auto;
  margin-bottom: 7rem;
  margin-top: 3rem;
  border-radius: 0.5rem;
}

.contact {
  /* display: inline-block;
  padding: 2.5rem; */
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 0;
  background-color: #252525;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50vh;


}
.info {
  color: whitesmoke;
  display: inline;
  padding: 2.5rem;
}

.pizzaPic {
  width: 25rem;

  margin-bottom: .5rem;
}

.foodPics {
  margin: 1rem;
}
.imageBorder {
  width: 35rem;
  height: 35rem;
  margin-bottom: 2rem;
}
.homeBody {
  background-image: url("./image/arch.jpg");
  background-repeat: no-repeat;
  display: inline-block;
  background-size: cover;
  background-position: center;
  margin-top: 6rem;

}
.homePictures {
  display: flex;
  flex-direction: row;
}

.ravs {
  display: inline-block;
  flex-direction: row;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.imo {
  font-size: x-large;
  text-shadow: 0.1rem 0.1rem gray;
  color: rgb(0, 0, 0);
}
.pmargin {
  margin-top: 1rem;
  margin-bottom: 15rem;
}
.places {

  margin: 0.2rem;
  padding-top: 10rem;
  color: rgb(51, 39, 39);
  font-size: xx-large;
  text-shadow: -0.5px 0 rgb(255, 255, 255), 0 0.5px rgb(255, 255, 255), 0.5px 0 rgb(255, 255, 255), 0 -0.5px rgb(255, 255, 255);
}
.penquins {
  margin-bottom: 2rem;
}

#attractions {
  margin-bottom: 14rem;
}
a:visited {
  color: rgb(245, 166, 166)
}
.submit {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}
footer a {
  color: #000000; /* Default link color */
  text-decoration: none;
}

footer a:visited {
  color: #000000; /* Visited link color */
}

footer a:hover {
  color: #300596; /* Hover link color */
  text-decoration: underline;
}

footer a:active {
  color: #615f5f; /* Active link color */
}

@media screen and (min-width: 358px) {
  body {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }












